@charset "utf-8";

@font-face {
    font-family: "BMJUA";
    src: url("/fonts/BMJUA_ttf.ttf");
}

p {
    font-size: 5rem;
    color: skyblue;
    font-family: "BMJUA";
}

p:hover {
    color:blue;
    font-style: bold;
}

strong:hover {
    color:darkblue;
}

.wow { 
    animation-duration: 3s;
    animation-name: rainbowLink;
    animation-iteration-count: infinite;
}

@keyframes rainbowLink {
   0% { color: red; }
   15% { color: orange; }
   30% { color: yellow }
   45% { color: yellowgreen; }
   60% { color: magenta; }
   75% { color: darkblue; }
   90% { color: blue; }
   100% { color: greenyellow; }
}

body {
    background-size: contain;
}